<div class="container full-height">
  <form class="form-signin full-height">
  <a class="navbar-brand-login" href="#"><img height="90px" src="images/logo.png"></a>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="" ng-model="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recuerdame
      </label>
    </div>
    <button ng-click="logIn()" class="btn btn-lg btn-default btn-block" type="submit">Ingresar</button>
    <a class="btn btn-link" type="submit" href="forgot-password.html"><i class="fa fa-question-circle"></i> No recuerdo mi password</a>
  </form>
</div>
