<form name="groupForm" class="form-horizontal ng-pristine ng-valid" role="form" novalidate>
  <div class="form-group col-md-6" ng-class="{'has-error': groupForm.name.$invalid && !groupForm.name.$pristine}">
    <label class="col-md-4 control-label">Nombre del Grupo</label>
    <div class="col-md-8">
      <input class="form-control" name="name" type="text" placeholder="Ej. Juan Pablo" ng-model="name" required>
      <p ng-show="groupForm.name.$invalid && !groupForm.name.$pristine" class="help-block">nombre es requerido.</p>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Grupo padre</label>
    <div class="col-md-8">
      <select class="form-control" ng-init="0" ng-model="parent" ng-options="g.id as g.name for g in groups" />
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Descripción</label>
    <div class="col-md-8">
      <textarea ng-model="description" rows="4" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group col-md-6" ng-show="action === 'edit'">
    <label class="col-md-4 control-label">Status</label>
     <div class="col-md-8">
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch{{id}}" class="onoffswitch-checkbox" id="myonoffswitch{{id}}" ng-model='active'>
          <label class="onoffswitch-label" for="myonoffswitch{{id}}">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
        </div>
     </div>
  </div>
  <div class="form-group col-md-12 text-center">
    <button type="submit" class="btn btn-default btn-sm" ng-disabled="groupForm.$invalid" ng-click="save()">
      Guadar Datos
    </button>
    <button type="submit" class="btn btn-danger btn-sm" ng-click="cancel()">
      Cancelar
    </button>
  </div>
</form>
