<form name="roleForm" class="form-horizontal ng-pristine ng-valid" role="form" novalidate>
  <div class="form-group col-md-6" ng-class="{'has-error': roleForm.name.$invalid && !roleForm.name.$pristine}">
    <label class="col-md-4 control-label">Nombre del Rol</label>
    <div class="col-md-8">
      <input class="form-control" name="name" type="text" placeholder="Ej. Administrador" ng-model="name" required>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Grupo</label>
    <div class="col-md-8">
      <select class="form-control" ng-init="0" ng-model="group" ng-options="g.id as g.name for g in groups" />
    </div>
  </div>
  <div class="form-group col-md-12">
    <label class="col-md-2 control-label">Descripción</label>
    <div class="col-md-10">
      <textarea ng-model="description" rows="3" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group col-md-12 text-center">
    <button type="submit" class="btn btn-default btn-sm" ng-disabled="roleForm.$invalid" ng-click="save()">
      Guadar Datos
    </button>
    <button type="submit" class="btn btn-danger btn-sm" ng-click="cancel()">
      Cancelar
    </button>
  </div>
</form>