<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a ng-class="getClass('/users')"  href="#/users"><i class="fa fa-user"></i> Usuarios</a>
    </li>
    <li>
      <a ng-class="getClass('/groups')" href="#/groups"><i class="fa fa-users"></i> Grupos</a>
    </li>
    <li>
      <a ng-class="getClass('/roles')" href="#/roles"><i class="fa fa-sitemap"></i> Roles</a>
    </li>
    <li>
      <a ng-class="getClass('/resources')" href="#/resources"><i class="fa fa-sitemap"></i> Recursos</a>
    </li>
    <li>
      <a ng-class="getClass('/roleresources')" href="#/roleresources"><i class="fa fa-file-code-o"></i> Permisos</a>
    </li>
    <li>
      <a href="#/user-fields"><i class="fa fa-list"></i> Campos de Usuario</a>
    </li>
    <li>
      <a href="#/group-fields"><i class="fa fa-list-alt"></i> Campos de Grupo</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
