<form class="form-horizontal ng-pristine ng-valid" role="form">
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Nombres</label>
    <div class="col-md-8">
      <input class="form-control" type="text" placeholder="Ej. Juan Pablo" ng-model="firstName">
    </div>
  </div>
  <div class="form-group col-md-6">
   <label class="col-md-4 control-label">Apellidos</label>
   <div class="col-md-8">
     <input class="form-control" type="text" placeholder="Ej. Perez Rodriguez" ng-model="lastName">
   </div>
  </div>
  <div class="form-group col-md-6">
   <label class="col-md-4 control-label">Nombre de Usuario</label>
   <div class="col-md-8">
     <input class="form-control" type="text" placeholder="Ej. jperez" ng-model="userName">
   </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Correo Electr&oacute;nico</label>
    <div class="col-md-8">
      <input class="form-control" id="focusedInput" type="text" placeholder="Ej. user@user.com" ng-model="email">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Password</label>
    <div class="col-md-8">
      <input class="form-control" id="focusedInput" type="password" ng-model="password">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-4 control-label">Repetir password</label>
    <div class="col-md-8">
      <input class="form-control" id="focusedInput" type="password" ng-model="repeatedPassword" >
    </div>
  </div>
  <div class="form-group col-md-6">
   <label class="col-md-4 control-label">Rol</label>
   <div class="col-md-8">
     <select class="form-control" ng-init="0" ng-model="role" ng-options="r.id as r.name for r in roles" />
   </div>
  </div>
  <div class="form-group col-md-6">
   <label class="col-md-4 control-label">Grupo</label>
   <div class="col-md-8">
    <select class="form-control" ng-init="0" ng-model="group" ng-options="g.id as g.name for g in groups" />
   </div>
  </div>
  <div class="form-group col-md-6" ng-show="action === 'edit'">
   <label class="col-md-4 control-label">Status</label>
   <div class="col-md-8">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model='active'>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
   </div>
  </div>
  <div class="form-group col-md-6">
    <label class="col-md-6 control-label">Cambiar Imagen</label>
    <div class="col-md-6">
      <input type="file" id="exampleInputFile">
    </div>
  </div>
  <div class="form-group col-md-12 text-center bottom-bar">
  <button type="submit" class="btn btn-default btn-sm" ng-click="save()">Guadar Datos</button>
  <button type="submit" class="btn btn-danger btn-sm" ng-click="cancel()">Cancelar</button>
  </div>
</form>