<!-- Page Content -->

      <form class="ng-pristine ng-valid top-options" role="form">
          <div class="form-group col-sm-3 no-padding no-margin">
            <div class="input-group">
              <label class="sr-only">Keyword</label>
              <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
              <input class="form-control" placeholder="Busca grupo ...">
            </div>
          </div>
          <div class="col-sm-6 no-margin alphabetical-sort">
            <a href="new-user.html">A</a>
            <a href="new-user.html">B</a>
            <a href="new-user.html">C</a>
            <a href="new-user.html">D</a>
            <a href="new-user.html">E</a>
            <a href="new-user.html">F</a>
            <a href="new-user.html">G</a>
            <a href="new-user.html">H</a>
            <a href="new-user.html">I</a>
            <a href="new-user.html">J</a>
            <a href="new-user.html">K</a>
            <a href="new-user.html">L</a>
            <a href="new-user.html">M</a>
            <a href="new-user.html">N</a>
            <a href="new-user.html">O</a>
            <a href="new-user.html">P</a>
            <a href="new-user.html">Q</a>
            <a href="new-user.html">R</a>
            <a href="new-user.html">S</a>
            <a href="new-user.html">T</a>
            <a href="new-user.html">U</a>
            <a href="new-user.html">V</a>
            <a href="new-user.html">W</a>
            <a href="new-user.html">X</a>
            <a href="new-user.html">Y</a>
            <a href="new-user.html">Z</a>
          </div>  
          <div class="form-group col-sm-3 text-right no-padding no-margin">
            <a type="submit" class="btn btn-default" href="#/groups/create"><span class="glyphicon glyphicon-plus"></span> Nuevo Grupo</a>
          </div>  
      </form>
      <div id="container-bar">
        <div class="table-responsive">
          <table class="table table-bordered table-hover no-margin">
            <thead>
              <tr>
                <th>Nombre del Grupo</th>
                <th>Grupo padre</th>
                <th>Descripcion</th>
                <th>Status</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody ng-repeat="group in groups">
              <tr>
                <td>{{group.name}}</td>
                <td>{{group.parent.name}}</td>
                <td>{{group.description}}</td>
                <td>
                  <span class="label" ng-class="{'label-info': group.active === true, 'label-danger' : group.active === false}">
                    {{group.active | groupStatusFilter}}
                    <span class="glyphicon glyphicon-ok-circle"></span>
                  </span>
                </td>
                <td>
                  <a href="javascript:(0)" ng-click="edit($index)" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-edit"></span> Editar
                  </a>
                </td>
              </tr>
              <tr ng-hide="!group.edit">
                <td colspan="4" class="row-edit">
                  <group-edit model="group"></group-edit>
                </td>
              </tr>
            </tbody>
          </table>
          <paginator service="service" page="0" size="10" callback="onGroupsLoaded"></paginator>
        </div>

      </div>
