<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid full-height">
    <div class="row full-height">
      <h3>Datos de Usuario</h3>
      <hr/>
      <div class="col-lg-12">
        <form class="form-horizontal ng-pristine ng-valid" role="form">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nombre</label>
            <div class="col-md-8">
              <input class="form-control" id="focusedInput" type="text" value="Franz Mamani">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nombre de Usuario</label>
            <div class="col-md-8">
              <input class="form-control" id="focusedInput" type="text" value="fmamani">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-sm-4 control-label">Rol</label>
            <div class="col-sm-8">
              <select class="form-control">
                <option selected="" value="Administrator">Administrador</option>
                <option value="Seller">Secretaria</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-sm-4 control-label">Grupo</label>
            <div class="col-sm-8">
              <select class="form-control">
                <option selected="" value="Administrator">Grupo 1</option>
                <option value="Seller">Grupo 2</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
              <input class="form-control" id="focusedInput" type="text" value="jq@jq.com">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Last Access Date</label>
            <div class="col-md-8 form-control-static">
              <p>12/26/2014 12:33</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Active
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Inactive
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
