html, body {
  height: 100%;
}
/*Iconfonts*/
@font-face {
    font-family: 'iconsnucleus';
    src:  url('../fonts/iconsnucleus.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'iconsnucleus';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icons-ventas:before {
  content: "a";
}
.icons-compras:before {
  content: "b";
}
.icons-admin:before {
  content: "c";
}
/*End Iconfonts*/
/*NavBar*/
.navbar-brand{
    height: auto;
    padding: 0px;
}
.navbar-brand > img{
    margin: 5px 10px;
}
.navbar-nav > li > a.user-info{
    padding: 0px;
}
.user-info img {
vertical-align: top;
display: inline-block;
padding: 6px;
}
.user-info .user {
display: inline-block;
padding: 12px;
line-height: 18px;
}
.user-info span.caret  {
height: 25px;
margin-right: 5px;
}
.main-container{
    padding-top: 75px;
}
/*end NavBar*/
/* Sidebar Styles */
#wrapper {
    padding-top: 60px;
    height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 70px;
    width: 0;
    height: 100%;
    margin-left: -70px;
    overflow-y: auto;
    background-color: #353F49;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper a{
    color: #F4F4F4;
    text-align: center;
    font-size: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 12px;
}
#sidebar-wrapper a:hover, #sidebar-wrapper a.active{
    background-color: #9ECCC9;
    color: #3C4142;
}
#sidebar-wrapper a:hover i,  #sidebar-wrapper a.active i{
    color: #3C4142;
}
#sidebar-wrapper a.active{
    background-color: #9ECCC9;
    color: #3C4142;
}
.navbar-right .glyphicon{
    font-size: 30px;
    line-height: 40px;
}
#sidebar-wrapper .icons, #sidebar-wrapper .glyphicon, #sidebar-wrapper .fa{
    font-size: 30px;
    display: block;
    color: #F4F4F4;
    line-height: 40px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 70px;
}
#page-content-wrapper {
    width: 100%;
    padding: 15px;
    height: 100%;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
    border-bottom: 1px dotted #f4f4f4;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 5px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
/* End Sidebar Styles */
/* Icon group */
.icon-group .icon-item{
color: #f4f4f4;
padding: 10px;
border: 1px solid transparent;
}
.icon-group .icon-item.active, .icon-group .icon-item:hover{
border: 1px solid #f4f4f4;
text-decoration: none;
}
/* End Icon group*/
/*Alphabetical sort*/
.alphabetical-sort{
    text-align: center;
    padding: 10px;
}
.alphabetical-sort a{
    text-decoration: underline;
}
/*End Alphabetical sort*/
@media(min-width:768px) {
    /* Sidebar Styles */
    #wrapper {
        padding-left: 70px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    /* End Sidebar Styles */
}
/*eLiZ Witch*/
.full-height{
    height: 100%;
}
.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
/*end eLiZ Witch*/