html, body {
  height: 100%;
  overflow: hidden;
}
.btn-link{
    padding: 10px 0;
}
/*NavBar*/
.navbar-brand{
    height: auto;
    padding: 0px;
}
.navbar-brand-login{
    width: 100%;
    text-align: center;
    display: block;
    padding: 20px 0px;
}
.navbar-brand > img{
    margin: 5px 10px;
}
.navbar-nav > li > a.user-info{
    padding: 0px;
}
.user-info img {
vertical-align: top;
display: inline-block;
padding: 6px;
}
.user-info .user {
display: inline-block;
padding: 12px;
line-height: 18px;
}
.user-info span.caret  {
height: 25px;
margin-right: 5px;
}
.main-container{
    padding-top: 75px;
}
.alert {
  color: #ffffff;
  width: 50%;
  margin: 10px auto;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
}
/*end NavBar*/
/* Sidebar Styles */
#wrapper {
    padding-top: 60px;
    height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 70px;
    width: 0;
    height: 100%;
    margin-left: -70px;
    overflow-y: auto;
    background-color: #353F49;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper a{
    color: #F4F4F4;
    text-align: center;
    font-size: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 12px;
}
#sidebar-wrapper a:hover, #sidebar-wrapper a.active{
    background-color: #9ECCC9;
    color: #3C4142;
}
#sidebar-wrapper a:hover i,  #sidebar-wrapper a.active i{
    color: #3C4142;
}
#sidebar-wrapper a.active{
    background-color: #9ECCC9;
    color: #3C4142;
}
.navbar-right .glyphicon{
    font-size: 20px;
    line-height: 40px;
}
#sidebar-wrapper .icons, #sidebar-wrapper .glyphicon, #sidebar-wrapper .fa{
    font-size: 30px;
    display: block;
    color: #F4F4F4;
    line-height: 40px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 70px;
}
#page-content-wrapper {
    width: 100%;
    padding: 15px;
    height: 100%;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
/* End Sidebar Styles */
/* Icon group */
.icon-group .icon-item{
color: #f4f4f4;
padding: 10px;
border: 1px solid transparent;
}
.icon-group .icon-item.active, .icon-group .icon-item:hover{
border: 1px solid #f4f4f4;
text-decoration: none;
}
/* End Icon group*/
.top-options{
padding: 10px;
border-bottom: 1px solid #dddddd;
border-top: 1px solid #dddddd;
background-color: #ffffff;
height: 60px;
}
.top-options-side{
padding: 10px 34px 10px 10px;
}
.top-options strong{
line-height: 40px;
padding-left: 15px;
}
.bottom-bar {
border-top: 1px solid #dddddd;
padding: 10px 0px;
margin-top: 10px;
}
/*Alphabetical sort*/
.alphabetical-sort{
text-align: center;
padding: 22px 0px 0px 5px;
}
.alphabetical-sort a{
display: inline-block;
background-color: #dddddd;
width: 16px;
color: #fff;
font-size: 0.7em;
line-height: 1.7em;
float: left;
margin-right: 1px;
border-radius: 4px 4px 0 0;
}
.alphabetical-sort a.active, .alphabetical-sort a:hover{
background-color: #0C9AC1;
text-decoration: none;
}
/*End Alphabetical sort*/
/*thumbnail view*/
#container-bar{
overflow-y: auto;
position: absolute;
top: 60px;
bottom: 0;
left: 0;
right: 0;
}
.thumbnail{
    position: relative;
    padding-bottom: 40px;
    margin: 10px 0px;
}
.thumbnail:hover {
border-color: #0C9AC1;
}
.thumbnail small{
    padding: 5px;
}
.thumbnail .thumbnail-bar{
    position: absolute;
    border-bottom: 0;
    height: 30px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #dddddd;
    padding: 0;
}
.thumbnail .thumbnail-bar a{
width: 25%;
line-height: 29px;
display: block;
float: left;
margin: 0;
padding: 0;
}
.thumbnail .thumbnail-bar a:hover{
    text-decoration: none;
    background-color: #0C9AC1;
    color: #fff;
    cursor: pointer;
}
/*end thumbnail view*/
#side-bar-edit {
position: absolute;
right: 0;
background: #ffffff;
top: 1px;
width: auto;
border-left: 1px solid #dddddd;
z-index: 10;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}
#side-bar-edit-content{
width: 300px; 
padding: 20px; 
overflow-y: auto;
overflow-x: hidden;
}
#side-bar-edit .top-bar{
position: absolute;
top: 10px;
left: -30px;
width: 30px;
height: 30px;
}
#side-bar-edit .top-bar button{
display: block;
width: 30px;
height: 30px;
font-size: 20px;
line-height: 7px;
padding: 0;
}
/*Forms*/
.form-horizontal{
padding: 20px 0px;
margin: 0px;
}


/*switch styles*/
.onoffswitch {
    position: relative; 
    width: 100px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #3C4142; 
    border-radius: 30px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s;
    -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; 
    transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 13px; 
    color: white; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
}
.onoffswitch-inner:before {
    content: "Activo";
    padding-left: 10px;
    background-color: #0C9AC1;
    color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "Inactivo";
    padding-right: 10px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    display: block; 
    width: 35px; 
    margin: 0px;
    background: #FFFFFF;
    border: 1px solid #3C4142; 
    border-radius: 30px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 65px;
    -moz-transition: all 0.1s ease-in 0s; 
    -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s; 
    transition: all 0.1s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*Tables*/
.table > thead > tr > th a{
font-size: 15px;
margin-right: 10px;
color: #3C4142 !important;
text-decoration: none !important;
cursor: pointer;
}
.table-hover > tbody > tr > td:last-child{
position: relative;  
}

.table-hover > tbody > tr > td.row-edit{
background-color: #fff;
color: #3C4142;
cursor: default;
box-shadow: inset 0 10px 10px #E0E0E0;
border-top: 1px solid #9E9E9E;
}
/*end switch styles*/
/*Login*/
.form-signin {
  max-width: 330px;
  padding: 90px 25px 15px 25px;
  margin: 0 auto;
  border-right: 1px solid #555D60;
  border-left: 1px solid #555D60;
  background-color: #fff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media(min-width:768px) {
    /* Sidebar Styles */
    #wrapper {
        padding-left: 70px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 70px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    /* End Sidebar Styles */
}

@media(max-width:768px) {
#grid-view{
top: 170px;
}
}
/*eLiZ Witch*/
.full-height{
    height: 100%;
}
.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px !important;
}
.img-center {
margin: 0 auto;
}
.father{position: relative;}
/*end eLiZ Witch*/