<!-- Page Content -->
<div id="page-content-wrapper" class="full-height no-padding">
   <div class="container-fluid full-height father">
      <div class="row full-height">
         <div class="top-options">
            <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                </span>
            <strong>{{book.category}}</strong>
            <strong>{{book.title}}</strong> - <small>{{book.author}}</small>
         </div>
         <div id="#container-bar" class="container-fluid">
            <div class="row">
               <div class="form-group col-md-9">
                  <div class="col-md-12" ng-bind-html="book.content">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
