<form class="ng-pristine ng-valid" role="form">
   <div class="form-group col-sm-3 no-padding no-margin">
      <div class="input-group">
         <label class="sr-only">Keyword</label>
         <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
         <input class="form-control" placeholder="Buscar Libro ...">
      </div>
   </div>
   <div class="col-sm-6 no-margin alphabetical-sort">
      <a class="active" href="new-user.html">A</a>
      <a href="new-user.html">B</a>
      <a href="new-user.html">C</a>
      <a href="new-user.html">D</a>
      <a href="new-user.html">E</a>
      <a href="new-user.html">F</a>
      <a href="new-user.html">G</a>
      <a href="new-user.html">H</a>
      <a href="new-user.html">I</a>
      <a href="new-user.html">J</a>
      <a href="new-user.html">K</a>
      <a href="new-user.html">L</a>
      <a href="new-user.html">M</a>
      <a href="new-user.html">N</a>
      <a href="new-user.html">O</a>
      <a href="new-user.html">P</a>
      <a href="new-user.html">Q</a>
      <a href="new-user.html">R</a>
      <a href="new-user.html">S</a>
      <a href="new-user.html">T</a>
      <a href="new-user.html">U</a>
      <a href="new-user.html">V</a>
      <a href="new-user.html">W</a>
      <a href="new-user.html">X</a>
      <a href="new-user.html">Y</a>
      <a href="new-user.html">Z</a>
   </div>
   <div class="form-group col-sm-3 text-right no-padding no-margin">
      <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a>
      <a class="btn btn-default btn-sm"><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i></a>
      <a class="btn btn-default btn-sm" href="#/books/create"><span class="glyphicon glyphicon-plus"></span> Nuevo Libro</a>
   </div>
</form>
<div id="container-bar">
   <div ng-repeat="book in books">
      <div class="col-xs-12 col-sm-3 col-lg-2">
         <div class="thumbnail text-center">
            <a><img width="170px" class="img-circle img-responsive img-center" ng-src="images/portadas/portada{{book.id}}.jpg" alt=""></a>
            <h4>{{book.title}}</h4>
            <small>{{book.author}}</small>
            <div class="thumbnail-bar">
               <a href="#/books/{{book.id}}"><i class="glyphicon glyphicon-eye-open"></i></a>
               <a href="#/books/edit/{{book.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
               <a><i class="glyphicon glyphicon glyphicon-cloud-download"></i></a>
               <a><i class="glyphicon glyphicon-print"></i></a>
            </div>
         </div>
      </div>
   </div>
   <paginator service="service" page="0" size="10" callback="onBooksLoaded"></paginator>
</div>
